<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>OGAM X SEOUL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
        body {
            opacity: 0.8;
            background-image: url("{{ url_for('static', filename='images/bg/' + image_file ) }}");
            background-color: black;
        }
    </style>
</head>
<body>
<div class="container-md mt-3">
    <h1 class="display-1 text-white m-5">OGAM X SEOUL</h1>
    <h2 class="display-4 text-white m-5">오늘의 감정에 따라 여행지를 추천합니다.</h2>
    <button type="button" class="btn btn-secondary m-5" onclick="location.href='/select'"><span class="display-6">시작</span></button>
</div>
</body>
</html>
